In [2]:
import pandas as pd

## 인덱싱(indexing): 데이터프레임에서 특정한 데이터만 골라내는 것

Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer) 속성도 제공한다.

-loc : 라벨값 기반의 2차원 인덱싱

-iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

# 연습 문제 4.3.1

모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [3]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052, 2466055],
    "2010": [9631482, 3393191, 2632035, 2431774, 2466051],
    "2005": [9762546, 3512547, 2517680, 2456016, 2466050],
    "2000": [9853972, 3655437, 2466338, 2473990, 2466057],
    "지역": ["수도권", "경상권", "수도권", "경상권", "수도권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141, 0.0567]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구", "광주"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141
광주  수도권  2466055  2466051  2466050  2466057         0.0567

In [6]:
# 인덱싱 값을 하나만 받는 경우
# loc 인덱서를 사용하면서 인덱스를 하나만 넣으면 행을 선택
df.loc["서울"]

지역                   수도권
2015             9904312
2010             9631482
2005             9762546
2000             9853972
2010-2015 증가율     0.0283
Name: 서울, dtype: object

In [7]:
# 인덱스데이터의 슬라이스도 가능
df.loc["부산":"대구"]

     지역     2015     2010     2005     2000  2010-2015 증가율
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [8]:
df["부산":"대구"]

     지역     2015     2010     2005     2000  2010-2015 증가율
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [9]:
# loc를 사용하지 않으면 keyerror 오류 발생
df.loc[["인천","광주"]]

     지역     2015     2010     2005     2000  2010-2015 증가율
인천  수도권  2890451  2632035  2517680  2466338         0.0982
광주  수도권  2466055  2466051  2466050  2466057         0.0567