# 연습 문제 4.1.2

다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [ ]:
import pandas as pd

In [ ]:
data = {
    "정수1": [1, 2, 3, 4, 5],
    "문자열": ["삼각지", "숙대입구","서울역", "회현","명동"],
    "실수1": [1.1, 2.1, 3.1, 4.1, 5.1],
    "정수2": [6, 7, 8, 9,10],
    "실수2": [6.1, 7.1, 8.1, 9.1,10.1]
}
columns = ["정수1", "문자열", "실수1", "정수2", "실수2"]
index = ["김씨", "부씨", "인씨", "구씨","이씨"]
df = pd.DataFrame(data, index=index, columns=columns)
df

# 연습 문제 4.1.3

다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
# (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df['수학']

In [ ]:
# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다
df[['국어','영어']]

In [ ]:
import numpy as np

In [ ]:
# (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
# step 1) 학생의 각 과목 평균
df.mean(axis = 1).round(2)

# step 2) 구한 평균을 새로운 열로 추가하기
df["평균"] = df.mean(axis = 1).round(2)
df

In [ ]:
# (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
# 개별 데이터 인덱싱은 [][]
df["영어"]["방자"] = 80
df

In [ ]:
# (5) 춘향의 점수를 데이터프레임으로 나타낸다.
df[:'춘향']

In [ ]:
# (6) 향단의 점수를 시리즈로 나타낸다.
# .T 속성은 데이터프레임에서 index와 column을 바꾼 형태의 데이타프레임
df.T['향단']

# 연습 문제 4.4.1

타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.

In [ ]:
# 타이타닉호의 승객 데이터를 데이터프레임으로 읽어오기
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
titanic.count()

#연습 문제 4.4.2

sort_values 메서드를 사용하여 타이타닉호 승객에 대해 성별(sex) 인원수, 나이별(age) 인원수, 선실별(class) 인원수, 사망/생존(alive) 인원수를 구하라.

In [ ]:
titanic['sex'].value_counts()

In [ ]:
titanic['age'].value_counts()

In [ ]:
titanic['class'].value_counts()

In [ ]:
titanic.alive.value_counts()

# 연습 문제 4.4.3

타이타닉호 승객의 평균 나이를 구하라.

타이타닉호 승객중 여성 승객의 평균 나이를 구하라.

타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

In [ ]:
titanic.age.mean()

In [ ]:
female = titanic[titanic['sex']=='female']
female.age.mean()

In [ ]:
titanic.pclass

# 연습 문제 4.4.4

타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category1 열을 만들어라. category1 카테고리는 다음과 같이 정의된다.

20살이 넘으면 성별을 그대로 사용한다.

20살 미만이면 성별에 관계없이 “child”라고 한다.

In [ ]:
category1=titanic[['age','sex']]
category1

In [ ]:
titanic['child'] = titanic.apply(
    lambda r: 'child' if r.age < 20, axis = 1
)
titanic.tail()

#연습 문제 4.4.5

타이타닉호의 승객 중 나이를 명시하지 않은 고객은 나이를 명시한 고객의 평균 나이 값이 되도록 titanic 데이터프레임을 고쳐라.