# Pandas
[참고] https://datascienceschool.net/01%20python/04.01%20%ED%8C%90%EB%8B%A4%EC%8A%A4%20%ED%8C%A8%ED%82%A4%EC%A7%80%EC%9D%98%20%EC%86%8C%EA%B0%9C.html

In [1]:
import pandas as pd

## 1. 시리즈(Series)

In [2]:
s = pd.Series([9904312,3448747,2890451,2466052], index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448747
인천    2890451
대구    2466052
dtype: int64

In [3]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [4]:
# 속성값이므로 () 없음.
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448747, 2890451, 2466052], dtype=int64)

In [21]:
# name 속성을 이용해 시리즈 데이터에 이름 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448747
인천    2890451
대구    2466052
Name: 인구, dtype: int64

## - 시리즈 연산

In [8]:
s / 10000

도시
서울    990.4312
부산    344.8747
인천    289.0451
대구    246.6052
Name: 인구, dtype: float64

## - 시리즈 인덱싱(데이터 프레임의 하나의 열)

In [9]:
s[0], s['서울']

(9904312, 9904312)

In [10]:
# 부분적인 값을 갖는 시리즈
[[0,2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [11]:
s[['부산','대구']]

도시
부산    3448747
대구    2466052
Name: 인구, dtype: int64

## - slicing

In [13]:
s[1:3]

도시
부산    3448747
인천    2890451
Name: 인구, dtype: int64

In [15]:
# 문자열 라벨을 이용하면 뒤의 값도 포함
s['부산':'대구']

도시
부산    3448747
인천    2890451
대구    2466052
Name: 인구, dtype: int64

## - Boolean indexing

In [16]:
s[s < 300000]

Series([], Name: 인구, dtype: int64)

## - 편리한 익덱싱

In [17]:
s['서울']

9904312

## - 편리한 인덱싱

In [18]:
s.서울

9904312

In [23]:
for k, v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448747
인천 = 2890451
대구 = 2466052

In [24]:
fruits = {'apple':1000, 'banana':2000, 'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

## 데이터 프레인 클래스(DataFrame)

In [25]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [26]:
# index (series): | / columns : --
index = ["서울", "부산", "인천", "대구"]
df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [33]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
df = pd.DataFrame(data, index=index, columns=columns)

In [34]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [35]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [36]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

## 열 데이터

In [37]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [38]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [39]:
# 조회, 수정할 경우는 . 가능, 새로운 시리즈 생성 시, 불가능
df.temp = [1,2,3,4]

<ipython-input-39-efc7d7990339>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.temp = [1,2,3,4]

In [40]:
df['temp'] = [1,2,3,4]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [ ]:
df.temp = [5,6,7,8]
df

In [41]:
del df['temp']
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

## - 열 인덱싱

In [43]:
# [] 하나의 열만 인덱싱하면 시리즈 반환
df['2010']

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [45]:
# [[]] 두개의 열을 인덱싱하면 리스트 반환
df[['2010']]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [42]:
df[['2010','2015']]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

## - 행 인덱싱

In [47]:
# 행 단위의 인덱싱을 원할 시 항상 슬라이싱. df[1] -> x
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [48]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

## - 개별 데이터 인덱싱

In [49]:
df['지역']['서울']

'수도권'

In [50]:
# 가장 보편적으로 사용됨
df['2015'][1]   # 부산

3448737

In [51]:
# 익숙해지면 이렇게 사용
df.지역[0]

'수도권'

In [52]:
df.지역.서울  # 열 인덱스.행 인덱스

'수도권'

In [53]:
df.지역.0

SyntaxError: invalid syntax (<ipython-input-53-f1ddcf8b9614>, line 1)

In [54]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')