In [1]:
import pandas as pd

In [7]:
%%writefile C:/workspace/data/sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting C:/workspace/data/sample1.csv

In [13]:
pd.read_csv('C:/workspace/data/sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [14]:
%%writefile C:/workspace/data/sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing C:/workspace/data/sample2.csv

In [15]:
pd.read_csv('C:/workspace/data/sample2.csv', names=['c1','c2','c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [20]:
pd.read_csv('C:/workspace/data/sample1.csv',index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [11]:
%%writefile C:/workspace/data/sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing C:/workspace/data/sample3.txt

In [12]:
pd.read_table('C:/workspace/data/sample3.txt',sep='\t')

        c1        c2        c3        c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [17]:
pd.read_table('C:/workspace/data/sample3.txt',sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515