In [1]:
import pandas as pd
import numpy as np

# 데이터프레임 인덱스 조작

## 일반 데이터 열이어야 할 것이 인덱스로 되어 있을 수 있다.
## set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정
## reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

## set_index:메서드로 특정한 열을 인덱스로 설정할 수 있다.

In [2]:
np.random.seed(2021)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09

In [4]:
# set_index:메서드로 특정한 열을 인덱스로 설정할 수 있다.
# 이 때 기존의 인덱스는 없어진다.
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [7]:
df3 = df2.set_index("C2")
df3

        C3    C4
C2
0.61  0.13   0.1
0.73  0.18  0.06
0.14  0.75  0.96
0.31  0.66  0.62
1.0   0.78  0.09

In [8]:
# inplace는 Default = false
df3.set_index('C3', inplace=True)
df3

        C4
C3
0.13   0.1
0.18  0.06
0.75  0.96
0.66  0.62
0.78  0.09

In [9]:
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

## reset_index 메서드: 인덱스를 보통의 자료열로 바꿀 수도 있다.
이 때 인덱스 열은 자료열의 가장 선두로 삽입된다. 데이터프레임의 인덱스는 정수로 된 디폴트 인덱스로 바뀐다.

In [10]:
df2.reset_index
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [11]:
df2.reset_index(inplace=True)
df2

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09