In [1]:
import pandas as pd
import numpy as np

## - DatetimeIndex

In [5]:
date_str = ["2018, 1, 1", "2018-1-4", "20180105", "2018.1.6", "010718"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07'],
              dtype='datetime64[ns]', freq=None)

In [7]:
np.random.seed(2021)
s = pd.Series(np.random.randn(5), index=idx)
s

2018-01-01    1.488609
2018-01-04    0.676011
2018-01-05   -0.418451
2018-01-06   -0.806521
2018-01-07    0.555876
dtype: float64

In [8]:
pd.date_range('20210601','20210630')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range(start="20210601", periods=30)

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('20210601','20210630', freq='B')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [11]:
pd.date_range('20210101','20211231', freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

## - resample 연산

In [13]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100))
ts.tail(10)

2018-04-01   -1.037998
2018-04-02    0.662567
2018-04-03   -0.624228
2018-04-04   -0.643762
2018-04-05   -0.686254
2018-04-06    0.441222
2018-04-07    0.855880
2018-04-08    0.147717
2018-04-09   -1.594633
2018-04-10    2.636894
Freq: D, dtype: float64

In [17]:
# 주마다 데이터 평균
ts.resample('w').mean()

2018-01-07    0.038287
2018-01-14   -0.021018
2018-01-21    0.658084
2018-01-28    0.340031
2018-02-04    0.577920
2018-02-11   -0.198362
2018-02-18    0.543467
2018-02-25   -0.388301
2018-03-04    0.372838
2018-03-11   -0.047345
2018-03-18   -0.054546
2018-03-25   -0.265704
2018-04-01   -1.016063
2018-04-08    0.021877
2018-04-15    0.521131
Freq: W-SUN, dtype: float64

In [18]:
#
ts.resample('M').first()

2018-01-31    0.567278
2018-02-28    0.591672
2018-03-31   -0.253510
2018-04-30   -1.037998
Freq: M, dtype: float64