In [4]:
sql = ''''
SELECT * FROM city WHERE district='Kyonggi';
''''

SyntaxError: EOL while scanning string literal (<ipython-input-4-c98cab9756b2>, line 3)

## SELECT DISTINCT field명, 함수 또는 * FROM table명
## WHERE 조건 ORDER BY field명 [DESC]
## LIMIT 갯수, offset 등
## GROUP BY field명
## HAVING group 조건
## oreder by limit
## JOIN table명 ON field명

## UPDATE table명 SET field1=value1, field2=value2, ... WHERE 조건
	
## INSERT INTO table명 (feild1, feild2, ...) value(VALUE1, VALUE2, ...), (value1, value2, ...), ...

##